.btn-primary {
  background-color: #132232;
  border-color: #adc7ea;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  width: 100%;
}

.btn-primary:hover {
  border-color: #132232;
  background-color: #adc7ea;
  color: #132232;
}

.Toastify__progress-bar--info,
.Toastify__toast-icon {
  --toastify-color-progress-info: #132232;
  --toastify-icon-color-info: #132232;
}
