.contacto {
  font-size: 20px;
  padding: 20px 20px;
  background-color: #a46872;
  color: white;
  text-align: center;
  height: 150px;
}

.contacto img {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.8s all;
}

.contacto img:hover {
  background-color: #e1dad0;
}
