.navbar {
  background-color: #132232;
  padding-right: 2rem;
}

.nav-item a,
.btn-primary {
  transition: 0.5s all;
  margin-right: 1rem;
}

.nav-item a:hover,
.btn-primary:hover {
  background-color: #adc7ea;
  border-radius: 20px;
  text-decoration: underline;
  text-decoration-color: #132232;
}
.navbar-light .navbar-nav .nav-link {
  color: #adc7ea;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #132232;
}

.navbar-light .navbar-brand {
  color: #adc7ea;
  text-transform: uppercase;
  transition: 0.5s all linear;
  padding: 0 0.5rem;
  letter-spacing: 1px;
  margin: 0 3rem;
}

.navbar-brand img {
  width: 60px;
}

.navbar-light .navbar-brand:hover {
  background-color: #adc7ea;
  border-radius: 15px;
  color: #132232;
}

.navbar-collapse {
  font-size: 19px;
  margin-left: 60%;
}

a#blog {
  background-color: #adc7ea;
  color: #132232;
  border-radius: 20px;
  transition: 0.5s all linear;
  padding: 0.5rem 1rem;
}
.navbar-light .navbar-toggler {
  background-color: #adc7ea;
}

@media (max-width: 2070px) {
  .navbar-collapse {
    margin-left: 55%;
  }
}

@media (max-width: 450px) {
  .navbar-light .navbar-brand {
    margin: 0 0.5rem;
  }
}
