.navbar {
  background-color: #e1dad0;
  padding-right: 2rem;
}

.nav-item a,
.btn-primary {
  transition: 0.5s all;
  margin-right: 1rem;
}

.nav-item a:hover,
.btn-primary:hover {
  background-color: #cb9998;
  border-radius: 20px;
}
.navbar-brand img {
  margin-left: 2rem;
  width: 50px;
  transition: 0.5s all linear;
}

.navbar-brand img:hover {
  background-color: #ffe0e5;
  border-radius: 15px;
}

.navbar-collapse {
  font-size: 19px;
  margin-left: 70%;
}

a#blog {
  background-color: #cb9998;
  border-radius: 20px;
  transition: 0.5s all linear;
  padding: 0.5rem 1rem;
}

a#blog:hover {
  font-weight: bold;
  color: #e1dad0;
}
